{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container mb-5 mt-3">
    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="logo-font text-black mt-5">Spring is here!</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-button btn btn-lg py-3 text-uppercase">Shop now!</a>
                </h4>
            </div>
        </div>
        <section class="mb-5 mt-auto container">
            <h4 class="text-uppercase">Reviews:</h4>
            <div class="col-sm-12 col-md-6">
                <blockquote class="blockquote">
                    <p class="small">Thanks to Root|Me, I've created my own little green oasis indoors. I'm so pleased with my new
                        plants!
                    </p>
                    <footer class="blockquote-footer small">Ivy Greenleaf on <cite title="Twitter">Facebook</cite></footer>
                </blockquote>
            </div>
            <div class="col-sm-12 col-md-6 pb-3">
                <blockquote class="blockquote">
                    <p class="small">Root|Me's products make the perfect gift! Their selection of indoor plants and accessories adds a
                        touch of greenery and joy to any space. I've gifted their plants to friends and family, and
                        they've
                        been thrilled every time. Root|Me truly offers gifts that keep on growing</p>
                    <footer class="blockquote-footer small">Oliver Bloomsworth on <cite title="Twitter">Facebook</cite></footer>
                </blockquote>
            </div>
        </section>
    </div>
</div>
{% endblock %}