
#wish_quantity = int(request.POST.get('quantity'))
redirect_url = request.POST.get('redirect_url')
#wishlist = request.session.get('wish_product', {})

if item_id in list(wishlist.keys()):
    wishlist[item_id] += quantity
    messages.success(request, f'Updated {wish_product.name} quantity to {wishlist[item_id]}')
else:
    wishlist[item_id] = quantity
    messages.success(request, f'Added {wish_product.name} to Wishlist!')
request.session['wishlist'] = wishlist

return redirect(redirect_url)




% extends 'base.html' %}

{% load static %}

{% block title %}WishList{% endblock %}


<div class="overlay"></div>
    <div class="row h-100">
        <div class="col-12 col-md-10 mx-auto mt-3">
            <hr>
            <h2 class="logo-font ml-3 mt-3">My Wishlist</h2>
            {% if user_wishlist %}
                <ul class="list-group">
                    {% for item in user_wishlist %}
                    <li class="list-group-item border-0">
                        <div class="row ml-3">
                            <div class="col-lg-1 col-sm-4">
                                
                                <a href="{% url 'product_detail' item.product.id %}">
                                    {% if item.product.image %}
                                    <img class="w-100 wishlist-prod" src="{{ item.product.image.url }}"
                                        alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="w-100 wishlist-prod" src="{{ MEDIA_URL }}product_placeholder.png"
                                        alt="{{ item.product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-lg-6 col-sm-4 text-left">
                                <p class="my-0 text-center text-muted">Product Name: {{ item.product.name }}</p>
                                <p class="my-0 text-center text-muted">Product Price: {{ item.product.price }}</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 text-center text-black">
                                <a href="{% url 'delete_product_from_wishlist' item.product_id %}">
                                    <i class="fas fa-trash wishlist-icon"></i> Remove
                                </a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <br>
                <div class="col-12 align-items-center">
                    <h3 class="p-txt d-inline-block text-center">Your wishlist is empty.</h3>
                </div>
                <a href="{% url 'products' %}" class="btn btn-green btn-lg float-right">
                  <span class="icon">
                      <i class="fas fa-chevron-left"></i>
                  </span>
                  <span class="text-uppercase">Let's go shopping!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>


    Grand Total: {{ order.total_sum }}


    profile = UserProfile.objects.get(user__username=username)
    print("user profile: ", profile)
    print("country: ", profile.default_country)
    print("shipping country: ", shipping_details.address.country)
    print(len(shipping_details.address.country))



    if request.user.is_authenticated:
    try:
        profile = UserProfile.objects.get(user=request.user)
        order_form = OrderForm(initial={
            'full_name': profile.user.get_full_name(),
            'email': profile.user.email,
            'phone_number': profile.default_phone_number,
            'country': profile.default_country,
            'postcode': profile.default_postcode,
            'town_or_city': profile.default_town_or_city,
            'street_address1': profile.default_street_address1,
            'street_address2': profile.default_street_address2,
            'county': profile.default_county,
        })


        super().__init__(*args, **kwargs)
        placeholders = {
            'full_name': 'Full Name',
            'email': 'Email Address',
            'phone_number': 'Phone Number',
            'postcode': 'Postal Code',
            'town_or_city': 'Town or City',
            'street_address1': 'Street Address 1',
            'street_address2': 'Street Address 2',
            'county': 'County, State or Locality',
        }
