.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.btn{
    background: transparent;
    border: none;
    margin: 87px;
    font-size: 88px;
    outline: none;
    color: grey;
}

.btn i:hover{
    cursor: pointer;
}