{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Basket</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <tr>
                                <th class="py-3">Product information</th>
                                <th class="py-3">Name:</th>
                                <th class="py-3">
                                    Price:
                                </th>
                                <th class="w-25 py-3">
                                    Qty:
                                </th>
                                <th class="py-3">
                                    Subtotal:
                                </th>
                        </tr>
                        {% for item in basket_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid img-sizing-checkout rounded" src="{{ item.product.image.url }}" alt="">
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0 text-muted small">{{ item.product.sku }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.price}}</p>
                            </td>
                            <td class="py-3">
                                <form class="form update-form"action="{% url 'adjust_basket' item.item_id %}" method="POST">
                                   {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span class="icon"><i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info">Update</a>
                                <a class="remove-link text-danger float-right">Remove</a>
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.price}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <tr>
                         <!--Copied form Code Institute walkthrough project LINK-->
                        <td colspan="5" class="text-right w-auto">
                            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colespan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn border-black rounded-0 btn-lg">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Back To Store</span>
                            </a>
                            <a href="" class="btn border-black rounded-0 btn-lg">Secure Checkout
                            <span class="icon">
                                <i class="fa-solid fa-cash-register"></i>
                            </span>
                            </a>
                        </td>
                    </tr>
                </div>
                {% else %}
                <p class="lead mb-5">You currently don't have any products in you basket.</p>
                <a href="{% url 'products' %}" class="btn border-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs%}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    })

    $('.remove-link').click(function(e){
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}`;
        var data = {'csrfmoddlewaretoken': csrfToken};
        
        $.post(url, data)
        .done(function(){
            location.reload();
        })
    })
</script>
{% endblock %}
