{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="ovellay">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                <div class="table-responsive"></div>
                {% else %}
                <p class="lead mb-5">You currently don't have any products in you basket.</p>
                <a href="{% url 'products' %}" class="btn border-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
