html {
    height: 100%;
}

body {
    background: url('/media/monstera-white-background.jpeg') no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    font-family: "EB Garamond", serif;
}

.container-404 {
    background: url('/media/monstera.png') no-repeat top center fixed;
}
.title {
    font-family: "Protest Revolution", sans-serif !important; 
    font-weight: 600;
    font-size: 5rem;
    font-style: normal;;
}


#delivery-banner {
    background-color: rgb(103, 141, 103);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-green {
    background: rgb(63, 120, 87);
    color: white;
    border: 1px solid black;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Copied from Code Institute walkthrough */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: white !important;
}

.back-to-top-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.back-to-top-link {
    display: inline-block; 
    cursor: pointer;
    border: 1px solid black;
    z-index: 1;
}

/* Product form copied form Code institute walk through */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* basket.html */

.img-sizing-checkout {
    height: 200px !important;
    width: 200px !important;
}

.update-link,
.remove-link {
    cursor: pointer;
}

/* Toast css */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px; 
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */
.footer-main {
    background-color: rgba(103, 141, 103);
    color: white;
    line-height: 1.5;
    width: 100%;
    bottom: 0;
}

.social-media-links i {
    color: white;
}

/* Allauth tamplates */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */

  @media (min-width: 500px) {
  .footer-content {
    margin-top: 50px;
    color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 761px) {
    .min-height {
        min-height: 30vw;
    }
}
      /* Pad the top a bit when navbar is collapsed on mobile, copied from Code Institute walkthrough */
    @media (max-width: 991px) {

        .logo-font.text-black {
            font-size: 2rem;
        }

        .nav-link {
            padding: 0.15rem;
            font-weight: 200;
        }

        .nav-link i.fa-lg {
            font-size: 1rem;
        }

        .navbar-toggler {
            padding: .6rem .6rem;
            font-size: 1rem;
        }

        #delivery-banner h4 {
            font-size: 0.9rem;
        }

        .btn.btn-outline-black,
        .btn.btn-green {
            padding: .375rem .375rem;
        }

        .btn.btn-outline-black.btn-lg,
        .btn.btn-green.btn-lg {
            padding: .375rem .375rem;
            font-size: .75rem;
        }

        .increment-qty, .decrement-qty {
            padding: .25rem .5rem !important;
        }

    }
