{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Q&A</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mt-3">
            <h5>Commonly Asked Questions:</h5>
            <!-- Q&A questions and answers has been created by ChatGPT: https://chat.openai.com/-->
            <p class="text-muted mb-1">If you are not able to find the answer below,
                feel free to contact us! <br>
                We answer within 1-2 business days.</p>
            <div id="accordion" role="tablist">
                <div class="card border-0">
                    <div class="card-header bg-white" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" class="text-muted" href="#collapse1" aria-expanded="true"
                                aria-controls="collapseOne">
                                How long does shipping take?
                            </a>
                        </h5>
                    </div>
                    <div id="collapse1" class="collapse text-black" role="tabpanel" aria-labelledby="heading1">
                        <div class="card-body">
                            Shipping times vary depending on your location and the specific items ordered. Typically,
                            orders are processed within 1-2 business days, and standard shipping within the continental
                            US takes 3-5 business days.
                        </div>
                    </div>
                </div>
                <div id="accordion" role="tablist">
                    <div class="card border-0">
                        <div class="card-header text-black bg-white" role="tab" id="heading2">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" class="text-muted" href="#collapse2" aria-expanded="true"
                                    aria-controls="collapse2">
                                    What if my plant arrives damaged?
                                </a>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse text-black" role="tabpanel" aria-labelledby="heading2">
                            <div class="card-body">
                                We take great care in packaging our plants to ensure they arrive in optimal condition.
                                In the rare event that your plant arrives damaged, please contact our customer service
                                team with a photo of the plant within 24 hours of delivery, and we'll be happy to assist
                                you with a replacement or refund.
                            </div>
                        </div>
                    </div>
                    <div id="accordion" role="tablist">
                        <div class="card border-0">
                            <div class="card-header text-black bg-white" role="tab" id="heading3">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" class="text-muted" href="#collapse3" aria-expanded="true"
                                        aria-controls="collapse2">
                                        Do you offer gift wrapping services?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse3" class="collapse text-black" role="tabpanel" aria-labelledby="heading3">
                                <div class="card-body">
                                    Yes, we offer gift wrapping services for a small additional fee. Simply select the
                                    gift wrapping option at checkout, and we'll make sure your order is beautifully
                                    wrapped and ready to be presented.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" role="tablist">
                        <div class="card border-0">
                            <div class="card-header text-black bg-white" role="tab" id="heading4">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" class="text-muted" href="#collapse4" aria-expanded="true"
                                        aria-controls="collapse4">
                                        What factors influence the pricing of cuttings?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse text-black" role="tabpanel" aria-labelledby="heading4">
                                <div class="card-body">
                                    The pricing of cuttings is influenced by a variety of factors
                                    that collectively determine the value of the plant material.
                                    Firstly, rarity plays a significant role; cuttings from rare
                                    or exotic plant species are often priced higher due to their
                                    limited availability in the market. Additionally, the demand
                                    for specific plants can heavily impact their pricing; popular
                                    or trendy plants may command higher prices due to increased demand
                                    from enthusiasts and collectors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="accordion" role="tablist">
                        <div class="card border-0">
                            <div class="card-header text-black bg-white" role="tab" id="heading5">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" class="text-muted" href="#collapse5" aria-expanded="true"
                                        aria-controls="collapse5">
                                        Which types of pests can be controlled using beneficial insects?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse5" class="collapse text-black" role="tabpanel" aria-labelledby="heading5">
                                <div class="card-body">
                                    Beneficial insects can be used to control a wide range of pests in
                                    the garden and crops. Examples of pests that can be controlled
                                    using beneficial insects include aphids, thrips, spider mites,
                                    leafhoppers, caterpillars, and whiteflies. If you're unsure about which
                                    beneficial insects you need for your specific situation, feel free
                                    to contact Root|Me for personalized advice and recommendations.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mb-3">
            <form class="mt-3 mb-3" action="{% url 'contact_view' %}" method="POST" id="contact-forn">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-green float-right" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}