{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container w-100">
    <div class="row">
        <div class="col-12">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Delete Product</h5>
            <p>Are you sure you want to delete this product?</p>
            <hr>
            <div class="image-container my-5 col-12">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="image-container my-5">
                            {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank"><img class="card-img-top img-fluid"
                                    src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                            {% else %}
                            <a href=""><img class="card-img-top img-fluid" src="{{MEDIA_URL}}noimage.jpeg"
                                    alt="{{ product.name }}"></a>
                            {% endif %}
                    </div>
                    </div>
                    <div class="col-12">
                        <div class="product-details-container mb-5 mt-md-5">
                            <h4 class="mb-0">{{ product.name }}</h4>
                            <p class="lead mb-0 font-weight-bold">${{ product.price }}</p>
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <form method="POST" class="form mb-1" action="{% url 'delete_product' product.id %}"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <div class="text-right mt-3">
                                            <a href="{% url 'products' %}" class="btn btn-green ">Cancel</a>
                                            <button type="submit" class="btn btn-green ">Delete Product</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}